/* This CSS file is modified from this link: 
https://www.w3schools.com/howto/howto_css_split_screen.asp */ 
body{
    background-color: rgb(182, 137, 119);
    text-align: center;
}
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: -10px;
  }
  .splitover {
    height: 100%;
    width: 50%;
    position: relative;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: -10px;
  }

  /* Control the left side */
  .left {
    left: 0;
    background-color: rgb(182, 137, 119);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: lightslategrey;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
  }

 .info{
    border-style: dotted;
    border-width: 17%;
    border-color: black;
    border-radius: 5px;
    display: inline-block;
    ;
 }

 #title{
     background-color: lightslategrey;
     font-size: 2.77em;
     border-radius: 49px;
 }

 #web_link{
     font-size:1.1em;
     background-color: rgb(199, 203, 0);
 }

 #author{ 
     font-size: 2.2em;
 }

 #source{ 
     font-size: 1.49em;
 }

 #fetch_date{
     font-size: smaller;
 }

 #article_preview{ 
     font-size: x-large;
 }
  
  