{% extends "template.html" %}
{% block title %}Counts{% endblock %}
{% block search_active %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block counts_active %}active{% endblock %}
{% block body %}
<div class="container">
    <center>
        <h1>
            Current Counts
        </h1>
    </center>
    <hr>
</div>
<body>
<center>
    <div class="container">
        <div class="splitover">
            <center>
                <p class="lead">View the Current Covid-19 Counts by Country/State Below, or Query Your Location:</p>
            </center>
            <center>
                <form action="" method="POST">
                    <p><input type="text" value="" name="location"></p>
                    <input type="checkbox" id="USA" name="USA" value="USA">
                    <label for="USA">Check my state instead</label><br>
                    <p><input type="submit" name="submit"></p>
                </form>
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            </center>
        </div>
        <div class="splitover">
            <center>
                <p class="lead">View the Current Covid-19 Counts of all Countries Below:</p>
                <table>
                    <tr class="even">
                        <th class="normal">Country</th>
                        <th class="normal">Date</th>
                        <th class="normal">Case Count</th>
                        <th class="normal">Death Count</th>
                    </tr>
                    {% set count = namespace(value=1) %}
                    {% for row in case_data %}
                        {% if count.value % 2 == 0 %}
                            <tr class="even">
                                <td class="normal">{{row.location}}</td>
                                <td class="normal">{{row.date.strftime("%B %d, %Y")}}</td>
                                <td class="case">{{row.casecount}}</td>
                                <td class="case">{{row.deathcount}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="normal">{{row.location}}</td>
                                <td class="normal">{{row.date.strftime("%B %d, %Y")}}</td>
                                <td class="case">{{row.casecount}}</td>
                                <td class="case">{{row.deathcount}}</td>
                            </tr>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </table>
            </center>
        </div>
        <hr>
        <br>
        <div class="splitover">
            <center>
                <p class="lead">View the Current Covid-19 Counts of all US States and Regions Below:</p>
                <table>
                    <tr class="even">
                        <th class="normal">State</th>
                        <th class="normal">Date</th>
                        <th class="normal">Case Count</th>
                        <th class="normal">Death Count</th>
                    </tr>
                    {% set count = namespace(value=1) %}
                    {% for row in case_data_us %}
                        {% if count.value % 2 == 0 %}
                            <tr class="even">
                                <td class="normal">{{row.location}}</td>
                                <td class="normal">{{row.date.strftime("%B %d, %Y")}}</td>
                                <td class="case">{{row.casecount}}</td>
                                <td class="case">{{row.deathcount}}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td class="normal">{{row.location}}</td>
                                <td class="normal">{{row.date.strftime("%B %d, %Y")}}</td>
                                <td class="case">{{row.casecount}}</td>
                                <td class="case">{{row.deathcount}}</td>
                            </tr>
                        {% endif %}
                        {% set count.value = count.value + 1 %}
                    {% endfor %}
                </table>
            </center>
        </div>
    </div>
</center>
</body>
<br>
<br>
{% endblock %}