{% extends "template.html" %}
{% block title %}Counts{% endblock %}
{% block search_active %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block counts_active %}active{% endblock %}
{% block body %}
<center>
    <h1>
        Current Counts
    </h1>
</center>
<hr>
<div class="container">
    <p>View the current covid-19 counts by country/state below:</p>
</div>
{% endblock %}