{% extends "template.html" %}
{% block title %}Home{% endblock %}
{% block home_active %}active{% endblock %}
{% block body %}
<center>
    <h1>
        Home
    </h1>
</center>
<hr>
<div class="container">
    <p class="lead">
        As Corona Virus spreads, we are commited to bring you accurate, honest, and uncensored
        developments and information.
    </p>
    <figure>
        <img src="/static/images/countrymap.png" alt="countrymap">
        <figcaption>Map of all Countries affected by Corona Virus</figcaption>
    </figure>
    <hr>
    <figure>
        <img src="/static/images/statemap.png" alt="statemap">
        <figcaption>Map of all Countries affected by Corona Virus</figcaption>
    </figure>
    <br>
    <br>
</div>
{% endblock %}