{% extends "template.html" %}
{% block title %}News{% endblock %}
{% block search_active %}
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}
{% block news_active %}active{% endblock %}
{% block body %}

<center>
    <h1>
        News
    </h1>
</center>
<hr>
<div class="container">
    <center>
        <p class="lead">
            View the latest covid-19 news from reliable sources below:
        </p>
    </center>
</div>
{% for article in article_list %}
    <hr>
    <div class="container">
        <center> <h2 id = "title">{{article.title}}</h2> </center> 
    </div>
        <br/>
        <center>
            <a href="{{article.url}}" id = "web_link">{{article.url}}</a>
            <br/>
            <center> 
                <div class = "info"> 
                    <p id = "author">By: {{article.author}}</p>
                    <p id = "source">Source: {{article.site}}</p>
                    <p id = "fetch_date">Article Fetched On: {{article.date}}</p>
                </div> 
            </center>
            <br>
            <p id = "article_preview">{{article.preview}}</p>
        </center>
        <br/>
        <br/>
        
    </div>
{% endfor %}
{% endblock %}