/* 
    Created By: Christopher Martinez 

    Last Modified: 3/16/19
*/ 
h1,h2,h3
{ 
    text-align: center; 
}

form
{
    background-color: green;
    margin-left: auto;
    margin-right: auto;
    width: 17.77em;
    /*adding padding to the form so it can look more fancy*/
    padding: 1em;

}

fieldset
{
    color: wheat;
    background-color: black;
}
