{% extends "template.html" %}
{% block title %}Symptoms{% endblock %}
{% block symptoms_active %}active{% endblock %}
{% block body %}
<body>
	<div class="split left">
        <div class="centered">
			<h1> Possible Symptoms: </h1>
			<br/> 
			<br/>
			<p>According to <br/> World Health Organization, <br> 
			Some potential COVID-19 symtpoms you may experience are: </p>
			<ul>
				<li>Fever</li>
				<li>Cough</li>
				<li>Fatigue</li>
				<li>Shortness of Breath</li>
			</ul> 
			
        </div>
	</div>
	<br>
	<div class="split right">
        <div class="centered">
			<h1>Potential Treatment(s): </h1> 
			<br/> 
			<br/>
			<p>According to <br/>World Health Organization, <br> 
			Some potential COVID-19 treatent you may experience are: </p>
			<ul>
				<li>Rest and Sleep</li>
				<li>Keep Warm</li>
				<li>Drink Plenty of Liquids</li>
				<li>Use Room Humidifier</li>
			</ul> 
     	</div>
	</div>
</body>
{% endblock %}
